.card-list{
   
   width: 85vw;
   margin: 0 auto;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-gap: 20px;
   
  }
 .pagination{
   max-width: 20%;
   margin-left: auto;
    margin-right: auto;
   display: flex;
   align-items: baseline;
   width: 50%;
 }